#!/bin/bash
#SBATCH --job-name={fname}-mcw-utils-rsem-quant
#SBATCH --ntasks=1
#SBATCH --cpus-per-task={cpus_per_task}
#SBATCH --time=08:00:00
#SBATCH --output=%x-%j.out
#SBATCH --account={account}

module load python/{python_version}
module load rsem/{rsem_version}
module list
python -m venv rnaseq
source rnaseq/bin/activate
pip install qc-utils==19.8.1 ptools_bin==0.0.7

mwc_utils_rsem_quant --anno_bam {anno_bam} --read_strand unstranded --endedness paired --rsem_index {rsem_index} --ncpus {cpus_per_task} --ramGB {ram_gb_per_task}
